.debug [class*="col-"] {
  height: 200px;
  background-color: pink;
  border: 1px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* /Utility */
.bg_transparent {
  background-color: transparent;
}

.pr_3 {
  padding-right: 3rem;
}
/* Sezione Header */
#banner {
  height: auto;
  margin-top: 60px;
  background-image: url('../img/bg-home-hero.svg');
  background-size: cover;
  color: white;
}

#banner_text h1 {
  max-width: 85%;
  font-size: 4.75rem;
  font-weight: 700;
}

#banner_text p {
  color: #031b4f;
  font-weight: 500;
}

#banner form {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  margin: 4.5rem;
  color: black;
}

#form h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: #031b4f;
  margin-top: 1rem;
}

#form h2 span {
  color: #006aff;
}

#form .form-group {
  margin-bottom: 0.75rem;
}

#form .form-grop input {
  box-shadow: 0;
}

#form button:first-of-type {
  background-color: #006aff;
  color: white;
  font-weight: 700;
}

#form button:last-of-type {
  color: #495057;
  font-weight: 700;
  border-top: 0;
  border-left: 0;
  box-shadow: 1px 1px lightgrey;
}

/* Sezione Navbar */
#nav_bar {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background: white;
}

#nav_bar div {
  height: 100%;
}

#nav_bar img {
  max-width: 100%;
  max-height: 4rem;
  min-height: 3rem;
  padding-bottom: 1rem;
}

#menu_left li a, #menu_right li a {
  text-decoration: none;
  color: #031b4f;
}

#menu_right  button {
  color: #006aff;
  border: 1px solid #006aff;
  font-weight: 700;
}

#menu_right button:hover {
  color: white;
  background: #006aff;
}

#burger {
  display: none;
  color: #006aff;
  font-size: 2rem;
}
/* Sezione Main */
#customer, #designed {
  background: #f3f5f9;
}

#service, #get_started {
  background: blue;
  color: white;
}

/* Sezione footer */
#site_footer {
  background: darkblue;
  height: auto;
}

/* Media Queries */
@media all and (max-width: 1200px) {
  #menu_left, #menu_right {
    display: none;
  }

  #burger {
    display: block;
  }
}
