.debug [class*="col-"] {
  height: 200px;
  background-color: pink;
  border: 1px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Sezione Header */
#site_header {
  height: 620px;;
  background-image: url('../img/bg-home-hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sezione Navbar */
#nav_bar {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background: white;
}

#nav_bar div {
  height: 100%;
  border: 2px solid black;
}

#nav_bar img {
  width: 100%;
}

/* Sezione Main */
#customer, #designed {
  background: lightgrey;
}

#service, #get_started {
  background: blue;
  color: white;
}

/* Sezione footer */
#site_footer {
  background: darkblue;
  height: auto;
}
